<form [formGroup]="noteForm" (ngSubmit)="onNoteFormSubmit()">
  <h4>Create a Note</h4>
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      id="title"
      formControlName="title"
      class="form-control"
    />
    <span
      *ngIf="!noteForm.get('title').valid && noteForm.get('title').touched"
      class="help-block"
    >
      <span *ngIf="noteForm.get('title').errors['required']"
        >This field is required!</span
      >
    </span>
  </div>
  <div class="form-group">
    <label for="label">Label</label>
    <div class="label-wrapper">
      <span
        class="label-color"
        [ngStyle]="{
          'background-color': labelColor ? labelColor : 'transparent'
        }"
      ></span>
      <select
        id="label"
        formControlName="label"
        class="form-control"
        (change)="onLabelSelectChange()"
      >
        <option *ngFor="let label of labels" [ngValue]="label">
          {{ label.title }}
        </option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      type="text"
      id="description"
      formControlName="description"
      class="form-control"
      rows="5"
    ></textarea>
  </div>

  <button class="btn btn-primary" [disabled]="!noteForm.valid" type="submit">
    Submit
  </button>
</form>
